<input type="hidden" id="hdnMenu" value="@Session["Menu"]" data-currurl="@Request.RawUrl" />
<div id="sidebar" class="sidebar">
    <div data-scrollbar="true" data-height="100%">
        <ul class="nav">
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="cover with-shadow" style="background:none;"></div>
                    <div class="image">
                        <img src="~/Content/assets/img/userpic.png" alt="" />
                    </div>
                    <div class="info">
                        @Session["Name"].ToString()
                        <small> @Session["UserRole"].ToString() </small>
                    </div>
                </a>
            </li>
            
        </ul>
        <ul class="nav" id="menuBar">
            <li><a id="liMinSideBar" href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <li class="nav-header">Navigation</li>
            <li class="li-menu @(Request.RawUrl.ToString() == "/" ? "active" : "")">
                <a href="/"><i class="fa fa-th-large"></i> <span>Dashboard</span></a>
            </li>
            @*<li class="li-menu @(Request.RawUrl.Contains("/Price/")  ? "active" : "")">
                    <a href="/Price/Estimation"><i class="fa fa-calculator"></i> <span>Price Estimation</span></a>
                </li>
                <li class="li-menu @(Request.RawUrl.Contains("/Quotation/")  ? "active" : "")">
                    <a href="/Quotation/DetailsOfQuotation"><i class="fa fa-list-alt"></i> <span>Details Of Quotation</span></a>
                </li>
                <li class="has-sub @(Request.RawUrl.Contains("/MasterMaintenance") ? "active" : "")">
                    <a href="javascript:;">
                        <b class="caret"></b>
                        <i class="fa fa-cogs"></i>
                        <span>Master</span>
                    </a>
                    <ul class="sub-menu">
                        <li class="@(Request.RawUrl.Contains("/MasterMaintenance/ItemMaster") ? "active" : "")">
                            <a href="/MasterMaintenance/ItemMaster">Item Master</a>
                        </li>
                        <li class="@(Request.RawUrl.Contains("/MasterMaintenance/UserMaster") ? "active" : "")">
                            <a href="/MasterMaintenance/UserMaster">User Master</a>
                        </li>
                        <li class="@(Request.RawUrl.Contains("/MasterMaintenance/PageMaster") ? "active" : "")">
                            <a href="/MasterMaintenance/PageMaster">Page Master</a>
                        </li>
                    </ul>
                </li>*@
        </ul>
    </div>
</div>
<div class="sidebar-bg"></div>
<form id="frmIDMLogin" action="http://localhost:55866/Redirect/CheckSession" method="post" target="_blank">
    @if (Session["username"] != null)
    {
        @Html.AntiForgeryToken()
    }
    <input type="hidden" id="hdnUserName" name="UserName" value="@(Session["username"]== null ? "" : Session["username"].ToString())" />
    <input type="hidden" id="hdnPassword" name="Password" value="@(Session["password"]== null ? "" : Session["password"].ToString())" />
    <input type="hidden" id="SourceFlag" name="IsFromNew" value="True" placeholder="Password" />
</form>
